
.seccioncomentario {
    width: 60%;
    height: auto;
    margin: 5% auto; /* Centra horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
}

.email {
    width: 50%;
    margin-top: 3%;
    height: 5vh;
    border: .2rem solid #000000; 
}

.cajacomentario {
    width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
    height: 30vh;
    border: .2rem solid #000000; 
}

.titulocomentario {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1%;
    font-family: 'Courier New', Courier, monospace;
}

.botonComentario {
    background-color: #ffffff;
    color: #000000;
    padding: .3rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
}

.botonComentario:hover {
    background-color: #006400;
    color: #ffffff;
}

.status{
    background-color: #006400;
    width: 40%;
    text-align: center;
    font-size: 1.2rem;
    color: #ffffff;
    border-radius: 4%;
}
