/* styles/Header.module.css */

/* Contenedor de la navegación */
.navContainer {
    padding: 2% 5%;
    position: relative;
}

/* Menú principal */
.menu {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.menu li {
    position: relative;
}

.menu a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    padding: 4% 6%;
    display: block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Submenú - oculto por defecto */
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;
}

.submenu li {
    width: 150px;
}

.submenu a {
    padding: 10px;
    display: block;
}

/* Mostrar el submenú cuando el menú principal está en hover */
.menu li:hover .submenu {
    display: block;
}

/* Estilo del botón de hamburguesa */
.hamburger {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

/* Menú en pantallas pequeñas */
@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        text-align: center;
        background: #fff;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    }

    .menu.active {
        display: flex;
    }

    /* El icono de hamburguesa debe aparecer */
    .hamburger {
        display: block;
    }

    /* Submenú en pantallas pequeñas */
    .submenu {
        position: relative;
        top: 0;
        left: 0;
        box-shadow: none;
        background-color: #f8f8f8;
        width: 100%;
    }

    /* Mostrar submenú al hacer hover en dispositivos móviles */
    .menu li:focus-within .submenu {
        display: block;
    }
}

/* Estilo adicional para los submenús en pantallas pequeñas */
.submenu li {
    width: 100%; /* Hacer que las opciones del submenú se expandan a toda la pantalla */
}

/* Estilo de los botones */
.button {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    width: 180px;
}

.button:hover {
    background-color: #006400;
    color: #f8f8f8;
}

/* Botón responsivo */
@media (max-width: 768px) {
    .button {
        width: 100%; /* Ajustar el ancho del botón al 100% en pantallas pequeñas */
        font-size: 1.2rem; /* Aumentar ligeramente el tamaño de la fuente */
        padding: 10px; /* Agregar un poco de relleno */
        background-color: transparent; /* Sin fondo */
    }
}

:global(h1) {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 5rem;
    margin: 1% 0;
}

:global(a:hover) {
    color: darkgreen;
}
