/* styles/Header.module.css */

.navContainer {
    padding: 2% 5%;
    position: relative;
}

.menu {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.menu li {
    position: relative;
}

.menu a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    padding: 4% 6%;
    display: block;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;
}

.submenu li {
    width: 150px;
}

.submenu a {
    padding: 10px;
    display: block;
}

.menu li:hover .submenu {
    display: block;
}

.hamburger {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        text-align: center;
        background: #fff;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    }
    .menu.active {
        display: flex;
    }
    .hamburger {
        display: block;
    }
}

/* styles/Search.module.css */

.search {
    display: flex;
    justify-content: center;
}

.search input[type="text"] {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.search button {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    font-size: 16px;
    cursor: pointer;
    margin-left: 2%;
}

.button {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    width: 180px;
}

.button:hover {
    background-color: #006400;
    color: #f8f8f8;
}

:global(h1) {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 4rem;
}

:global(a:hover) {
    color: darkgreen;
}
