.banner{
    text-align: center;
    margin: 0% 5% 5% 5%;
}

.banner {
  display: flex;
  justify-content: space-between;
  gap: 0; /* Espacio entre columnas */
}

.banner h1 {
  color: #000000;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3.8em;
}

.banner h2 {
  color: #333;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.6em;
}

.h4{
  font-size: 2rem;
}

.bannerImg {
  width: 100%;
  border-radius: 5%;
  margin: 0;
  align-self: center; /* Centra la imagen horizontalmente dentro del contenedor flex */
}

.banner {
  align-items: center; /* Centra los elementos verticalmente dentro del contenedor flex */
}

.columnaIzquierda {
    margin-top: 5%;
}

.columnaIzquierda, .columnaDerecha {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 5%;
}

.productosEstrella {
  margin-top: 0;
  text-align: left;
  margin: 0 10% 0 10%;
}

.productosEstrella h2{
  color: #000000;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3em;
}

.productosEstrella h3{
  color: #333;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2em;
  margin-top: 2%;
}

.perfumesContainer {
  display: flex;
  justify-content: space-between;
  gap: 0;
  margin-top: 5%;
  margin-bottom: 10%;
  text-align: center;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.img {
  width: 70%;
  display: block;
  margin: 0 auto;
  border-radius: 10%;
}

.perfumesContainer img:hover {
  transform: scale(1.01);
}

.productosNuevos {
  margin-top: 0;
  text-align: left;
  margin: 0 10% 10% 10%;
}

.productosNuevos h2{
  color: #000000;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3em;
}

.productosNuevos h3{
  color: #333;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2em;
  margin-top: 2%;
}

/* Responsive styles */
@media (max-width: 768px) {
  .banner {
    flex-direction: column;
    padding: 3em;
  }
  .banner h1 {
    font-size: 2.5em;
  }
  .productosEstrella h3{
    font-size: 1rem;
  }

  .productosNuevos h3{
    font-size: 1rem;
  }

  .columnaIzquierda, .columnaDerecha {
    width: 100%;
  }

  .perfumesContainer img {
    width: 50%;
  }

  .productosEstrella, .productosNuevos {
    margin: 0 5%;
  }
}