.form {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 30%;
    margin-left: 35%;
    margin-top: 3%;
    margin-bottom: 10%;
}

.form h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    margin-top: 2%;
    text-align: center;
}

.form input,
.form label {
    align-self: flex-start;
    width: 100%;
}

.form input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form button {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #006400;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.form label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-top: 3%;
}

.error {
    color: red;
    font-size: 1.5rem;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100%;
    text-align: center;
    justify-content: center;
    background-color: red;
    color: white;
    height: 4rem;
    display: flex;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.horizontalGroup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 100%;
}

.horizontalGroup .input,
.horizontalGroup .inputC {
    width: 100%;
    margin-bottom: 1rem;
}

.horizontalGroup .labelC {
    margin-left: 0;
    margin-bottom: 0.5rem;
}


.select {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-bottom: 4%;
}

@media (min-width: 768px) {
    .horizontalGroup {
        flex-direction: row;
    }

    .horizontalGroup .input,
    .horizontalGroup .inputC {
        width: 90%;
    }

    .horizontalGroup .inputC {
        margin-left: 12%;
    }

    .horizontalGroup .labelC {
        margin-left: 15%;
    }
}
